.amazing-logo{
    width: 20rem;
    padding: 2rem;
}

.enlace {
    padding: .7rem;
    color: white !important;
    border-radius: 2rem;
}

.enlace:hover {
    background-color: #e0046c;
    font-weight: 600;
}

@media ( width < 768px){
    .amazing-logo{
        width: 85vw;
        align-self: center;
    }

    header {
        flex-direction: column;
    }
}